     
<div class="contents row">
  <%= form_tag('/tweets', method: :post) do %>
    <h1>
      (//∇//)
    </h1>
    <h6>
      投稿しちゃうの♡
    </h6>
    <textarea placeholder="text" name="text" cols="30" rows="10"></textarea>
    <button class="btn waves-effect waves-light" type="submit" name="action">SEND
    <i class="material-icons right"></i>
  </button>
  <% end %>
</div>